$reset_zero: 0;
$color_white : #fff;
$width : 100%;
$margin_reset : 0 auto;
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
li {
  list-style: none;
  box-sizing: border-box;
}
// ヘッダー
nav.navbar-dark {
  background-color: $color_white!important;
    h1.logo {
      background-color: $color_white;
      max-width: $width;
      width: 750px;
      margin: $margin_reset;
    }
  }
// コンテンツ
form {
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
  border-radius: 5px;
  background: url('arrow.png')95% 50% no-repeat;
  background-size: 8px;
  select {
    width: 100%;
  }
}
.container {
  max-width: $width!important;
  padding:$reset_zero!important;
  #content {
    max-width: $width;
    width: 95%;
    margin: $margin_reset;
    .intro {
      border-top: 2px solid #fbfbfb;
      text-align: center;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    #search{
        border: 1px solid #efefef;
        border-radius: 12px;
        box-shadow:0px 0px 10px 1px #f0f0f0;
      .inner {
        padding: 4% 3%;
      }
    }
    dl {
      display: flex;
      justify-content: space-between;
      border-bottom:  1px solid #eee;
      box-sizing: border-box;
      padding-bottom: 5%;
      padding-top: 2%;
      margin-bottom: 5%;
    }
      #area{
        background: url('logo_area.png')5% 10% no-repeat;
        background-size: 8%;
      }
      #date{
        background: url('logo_date.png')5% 10% no-repeat;
        background-size: 8%;
        margin-bottom: 7%;
      }
      .detail{
        display: none;
      }
      #price{
        background: url('logo_price.png')5% 0% no-repeat;
        background-size: 8%;
        margin-bottom: 7%;
        display: flex;
        flex-flow: column;
        dd{
          display: flex;
          align-items: center;
          width: 100%;
          margin: 2% 0 2% 3%;
        }
        form {
          width: 42%;
        }
        span {
          display: inline-block;
          margin: 0 4%;
        }
      }
      #time {
        display: block;
        background:url('logo_time.png')5% 0% no-repeat;
        background-size: 8%;
        dt {
          width: 100%;
        }
        dd {
          margin: 2% 0;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          justify-content: space-around;
        }
        li {
          width: 23%;
          margin-right: 2%;
          border: 1px solid #f8f8f8;
          border-radius: 5px;
          font-size: 12px;
          text-align: center;
          padding: 2% 3%;
          box-sizing: border-box;
        }
        li:nth-child(-n+4){
          margin-bottom:5%;
        }
        li.active {
          background-color: #3cb6ee;
          color: #fff;
        }
      }
      #option {
        display: block;
        background:url('logo_option.png')5% 0% no-repeat;
        background-size: 8%;

        dd {
          margin:0;
        }
        ul {
          padding:0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        li {
          width: 31%;
          margin-right: 2%;
          border: 1px solid #f8f8f8;
          border-radius: 5px;
          font-size: 12px;
          padding: 2% 3%;
          box-sizing: border-box;
          text-align: center;
        }
        li:nth-child(-n+3){
          margin-bottom:5%;
        }
        li.active {
          background-color: #3cb6ee;
          color: #fff;
        }
      }
      #avoid {
        display: block;
        dt{
          width: 60%;
          padding-left: 4%;
          display: inline-block;
          color: #fc4b65;
        }
        dd{
          margin:0;
        }
        dd.all{
          display: inline-block;
          text-align: right;
          display: inline-block;
          margin-left: 0;
          padding-left: 15%;
          background:url('logo_avoid.png')30% 0% no-repeat;
          background-size: contain;
          font-size: 12px
        }
        ul {
          padding:0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        li {
          width: 31%;
          margin-right: 2%;
          border: 1px solid #f8f8f8;
          border-radius: 5px;
          font-size: 12px;
          padding: 2%;
          box-sizing: border-box;
          text-align: center;
        }
        li:nth-child(-n+3){
          margin-bottom:5%;
        }
        li.active {
          background-color: #fd8898;
          color: #fff;
        }
      }

    dt{
      width: auto;
      font-size: 16px;
      margin-bottom: 4%;
      padding-left: 16%;
      box-sizing: border-box;;
    }
    .btn {
      display: block;
      width: 95%;
      margin-right: auto;
      margin-left: auto;
      font-size: 18px;
      color: #fff;
      padding: 3% 0;
      border-radius: 10px;
      box-sizing: border-box;
    }
    input {
      background-color: #00a0e9!important;
    }
    .detail_btn {
          margin: 4% auto 7%;
      .more {
        background-image: url('plus.png');
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-color: #efefef;
        background-size: 16px;
        color: #000;
        text-align: center;
        font-size: 14px;
        padding: 5
        % 0;
      }
    }
  }
}

// 都道府県選択
.container #content .areaSelect {
  display: none;
  border:1px solid #efefef;
  border-radius: 12px;
  width: 98%;
  margin:0 auto;
  dl.modalContent{
    position: fixed;
    z-index: 999;
    width: 95%;
    margin: 0 auto;
    top: 29vw;
    right: 0;
    left: 0;
  }
  dl {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
     dl:last-of-type{
       border-bottom: 0;
     }
     dt.ttl {
      background-color: #00a0e9;
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      margin-bottom: 0;
      padding: 4.5% 0 4.5% 0.5em;
      border-top-left-radius : 12px;
      border-top-right-radius : 12px;
    }
  }
  dt {
    width: 100%;
    padding-bottom: 1em;
    padding-left: 0.5em;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #efefee;
     input{
       margin-right: 1em;
     }
  }
  dt.subTtl {
    padding:1em 0.5em;
    margin-bottom: 0;
    background-image: url(plus.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 16px;
  }
  dd.list{
    display: none;
    span{
      font-size: 15px;
      display: block;
      padding: 0.5em;
      padding-left: 1em;
      background-color: #efefee;
      margin-bottom: 0.1em;
       input {
         margin-right: 1em;
       }
   }
  }
  ul{
    border-bottom-left-radius : 12px;
    border-bottom-right-radius : 12px;
    border-bottom: 1px solid #efefee;
  }
  .overLay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(100,100,100,0.9);
  width:100%;
  height:100vh;
  z-index:10;
}
}
// フッター
footer {
    background-color: $color_white!important;
    p{
      background-color: $color_white;
      max-width: $width;
      width: 100%;
      margin: $margin_reset;
      text-align: center;
      font-size: 10px;
    }
}



body a {
  text-decoration: none;
  color: #222;
}

body .flexbox {
  display: flex;
  display: -ms-flexbox;
}

body #contents {
  width: 100%;
}

body #contents nav {
  padding: 2vw 0;
}

body #contents nav ul {
  width: 96%;
  margin: 0 auto;
}

body #contents nav ul p {
  display: inline-block;
}

body #contents nav ul img {
  width: 6vw;
}

body #contents nav ul li {
  font-size: 4vw;
  font-weight: bold;
}

body #contents nav ul li img {
  padding-right: 0.7vw;
  transform: translateY(1vw);
}

body #contents nav ul li button {
  border-style: none;
  border-color: none;
  border-image: none;
  font-size: 3.6vw;
  font-weight: bold;
  background: none;
}

body #contents nav ul li:first-child {
  transform: translateY(1vw);
}

body #contents nav ul li:nth-of-type(2) {
  margin-left: 3vw;
}

body #contents nav ul li:last-child {
  margin: 0 0 0 auto;
}

body #contents .main_contents {
  background: #eeeeee;
}

body #contents .main_contents .inner {
  width: 96%;
  margin: 0 auto;
}

body #contents .main_contents .inner .find_wrap {
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 2.3vw 0;
}

body #contents .main_contents .inner .find_wrap p {
  font-size: 3.5vw;
  margin-left: 2vw;
  margin-top: 1vw;
}

body #contents .main_contents .inner .find_wrap p #find {
  font-size: 5vw;
  padding-right: 3px;
  color: #e60013;
  font-weight: bold;
}

body #contents .main_contents .inner .find_wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 3.3vw;
  padding: 1.5vw 0 1.5vw 2vw;
  width: 25vw;
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 2px 1px #999;
  border: none;
  background: url(../img/arow_blue.png) no-repeat, #fff;
  background-position: 95% 3vw;
  background-size: 3vw;
}

body #contents .main_contents .inner #card_wrap .card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 1px #999;
  margin-bottom: 3vw;
  padding: 3vw 0;
}

body #contents .main_contents .inner #card_wrap .card .city {
  background: #00a0e9;
  border-radius: 4px;
  padding: 1.2vw 2vw;
  font-size: 3.7vw;
  font-weight: bold;
  margin: 0 3vw;
  color: #fff;
  transform: translateY(-1vw);
}

body #contents .main_contents .inner #card_wrap .card .golf_place {
  display: inline-block;
  font-size: 5vw;
  font-weight: bold;
}

body #contents .main_contents .inner #card_wrap .card .imagebox {
  overflow: hidden;
  height: 40vw;
  margin: 3vw 0;
}

body #contents .main_contents .inner #card_wrap .card .imagebox img {
  width: 100%;
}

body #contents .main_contents .inner #card_wrap .card .click_link {
  padding: 1px;
  display: block;
  padding: 0 3vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star {
  width: 100%;
  height: 5vw;
  background: url(../img/star_sheet.png) no-repeat;
  background-size: 32vw;
  display: inline-block;
  position: relative;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star .rate {
  position: absolute;
  left: 33vw;
  font-size: 4vw;
  top: 0.8vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_15 {
  background-position: 0 -5vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_2 {
  background-position: 0 -10vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_25 {
  background-position: 0 -15vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_3 {
  background-position: 0 -20vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_35 {
  background-position: 0 -25vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_4 {
  background-position: 0 -30.3vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_45 {
  background-position: 0 -35.4vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .star_5 {
  background-position: 0 -40.4vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link address {
  font-style: normal;
  font-size: 3vw;
  display: inline-block;
  margin-right: 1vw;
  margin: 2.5vw 1vw 2.5vw 0;
}

body #contents .main_contents .inner #card_wrap .card .click_link .price li {
  color: #e60013;
  font-weight: bold;
  margin-right: 2vw;
  font-size: 3.4vw;
}

body #contents .main_contents .inner #card_wrap .card .click_link .price li img {
  width: 11vw;
  transform: translateY(1vw);
  margin-right: 1vw;
}

