$reset_zero: 0;
$color_white : #fff;
$color_blue : #3cb6ee;
$width : 100%;
$margin_reset : 0 auto;
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
li {
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
// ヘッダー
nav.navbar-dark {
  background-color: $color_white!important;
    h1.logo {
      background-color: #fff;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 2vw;
      img{
        width: 42vw;
      }
    }
  }
// コンテンツ
form {
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
  border-radius: 5px;
  // background: url('arrow.png')95% 50% no-repeat;
  // background-size: 8px;
  select {
    width: 100%;
  }
}
.container {
  max-width: $width!important;
  padding:$reset_zero!important;
  #content {
    max-width: $width;
    width: 95%;
    margin: $margin_reset;
    .intro {
      border-top: 2px solid #fbfbfb;
      text-align: center;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    #search{
        border: 1px solid #efefef;
        border-radius: 12px;
        box-shadow:0px 0px 10px 1px #f0f0f0;
      .inner {
        padding: 4% 3%;
      }
    }
    dl {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      border-bottom:  1px solid #eee;
      box-sizing: border-box;
      padding-bottom: 3vw;
      padding-top: 2vw;
      margin-bottom: 4vw;

    }
      #area{
        background: url('logo_area.png') 4vw 3vw no-repeat;
        background-size: 8%;
        dd {
          background: url('arrow.png') 96% 3.4vw no-repeat;
          background-size: 4vw;
          border: 1px solid #d3d3d3;
          padding: 2.3vw 9vw 2.3vw 3vw;
          border-radius: 5px;
          max-width: 40vw;

        }
      }
      #date{
        background: url('logo_date.png')4vw 2vw no-repeat;
        background-size: 8%;
        margin-bottom: 7%;
        dd {
          padding-right: 1.5em;
          background: url(arrow.png) 95% 3vw no-repeat;
          background-size: 4vw;
          border: 1px solid #d3d3d3;
          border-radius: 5px;
          padding: 1vw 8vw 1vw 0vw;
          input{
            font-size: 3.8vw;
            background-color: #fff;
            width: 26vw;
            padding-left: 2vw;
            border:none;
          }
        }
      }
      .detail{
        display: none;
      }
      #price{
        background: url('logo_price.png')5% 0% no-repeat;
        background-size: 8%;
        margin-bottom: 7%;
        display: flex;
        flex-flow: column;
        dd{
          display: flex;
          align-items: center;
          width: 100%;
          margin: 2% 0 2% 3%;
        }
        form {
          width: 42%;
        }
        span {
          display: inline-block;
          margin: 0 4%;
        }
      }
      #time {
        display: block;
        background:url('logo_time.png')5% 0% no-repeat;
        background-size: 8%;
        dt {
          width: 100%;
        }
        dd {
          margin: 2% 0;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          justify-content: space-around;
        }
        li {
          width: 23%;
          margin-right: 2%;
          border: 1px solid #f8f8f8;
          border-radius: 5px;
          font-size: 12px;
          text-align: center;
          padding: 2% 3%;
          box-sizing: border-box;
        }
        li:nth-child(-n+4){
          margin-bottom:5%;
        }
        li.active {
          background-color: #3cb6ee;
          color: #fff;
        }
      }
      #option {
        display: block;
        background:url('logo_option.png')5% 0% no-repeat;
        background-size: 8%;

        dd {
          margin:0;
        }
        ul {
          padding:0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        li {
          width: 31%;
          margin-right: 2%;
          border: 1px solid #f8f8f8;
          border-radius: 5px;
          font-size: 12px;
          padding: 2% 3%;
          box-sizing: border-box;
          text-align: center;
        }
        li:nth-child(-n+3){
          margin-bottom:5%;
        }
        li.active {
          background-color: #3cb6ee;
          color: #fff;
        }
      }
      #avoid {
        display: block;
        dt{
          width: 60%;
          padding-left: 4%;
          display: inline-block;
          color: #fc4b65;
        }
        dd{
          margin:0;
        }
        dd.all{
          display: inline-block;
          text-align: right;
          display: inline-block;
          margin-left: 0;
          padding-left: 15%;
          background:url('logo_avoid.png')30% 0% no-repeat;
          background-size: contain;
          font-size: 12px
        }
        ul {
          padding:0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        li {
          width: 31%;
          margin-right: 2%;
          border: 1px solid #f8f8f8;
          border-radius: 5px;
          font-size: 12px;
          padding: 2%;
          box-sizing: border-box;
          text-align: center;
        }
        li:nth-child(-n+3){
          margin-bottom:5%;
        }
        li.active {
          background-color: #fd8898;
          color: #fff;
        }
      }

    dt{
      width: auto;
      font-size: 16px;
      margin-bottom: 4%;
      padding-left: 16%;
      box-sizing: border-box;;
    }
    .btn {
      display: block;
      width: 95%;
      margin-right: auto;
      margin-left: auto;
      font-size: 18px;
      color: #fff;
      padding: 3% 0;
      border-radius: 10px;
      box-sizing: border-box;
    }
    input {
      background-color: #00a0e9;
    }
    .detail_btn {
          margin: 4% auto 7%;
      .more {
        background-image: url('plus.png');
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-color: #efefef;
        background-size: 16px;
        color: #000;
        text-align: center;
        font-size: 14px;
        padding: 5
        % 0;
      }
    }
  }
}

// 都道府県選択
.container #content .areaSelect {
  display: none;
  border-radius: 12px;
  width: 100%;
  margin:0 auto;
  position: fixed;
  top: 0;
    left: 0;
  .modalContent{
    position: fixed;
    z-index: 999;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    top: 3vw;
    right: 0;
    left: 0;
    overflow: scroll;
    .close_btn{
      position: absolute;
      top: 6.5vw;
      right:2.5vw;
      width:  10vw;
      height: 10vw;
      span{
        width: 5vw;
        height: 2px;
        display: inline-block;
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
        &:nth-of-type(1){
          transform: rotate(45deg);
        }
        &:nth-of-type(2){
          transform: rotate(-45deg);
        }
      }

    }
    dd{
      padding: 0!important;
      max-width: none!important;
      border:none!important;
    }
    dt{
      position: relative;
    }
    dl{
      border-bottom: none;
    }
  }
  dl {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
     dl:last-of-type{
       border-bottom: 0;
     }
     dt.ttl {
      background-color: $color_blue;
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      margin-bottom: 0;
      padding: 4vw 0 4vw 3vw;
      border-top-left-radius : 12px;
      border-top-right-radius : 12px;
      position: relative;
    }
  }
  dt {
    width: 100%;
    padding-bottom: 1em;
    padding-left: 0.5em;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #efefee;
     input{
       margin-right: 1em;
     }
  }
  .subTtl {
    padding:1em 0.5em;
    margin-bottom: 0;
    background-color: #fff;
    background-size: 16px;
    position: relative;
    // プラスマイナス切り替え
    &__btn{
      position: absolute;
      width: 10vw;
      height: 10vw;
      right: 0;
      top: 0;
    span{
      width: 3.5vw;
      height: 2px;
      position: absolute;
      background: $color_blue;
      right: 3vw;
      top:5.5vw;
      transition: .5s;
      &:nth-of-type(1){
        transform: rotate(0);
      }
      &:nth-of-type(2){
        transform: rotate(90deg);
      }
    }
    &--open{
      & span:nth-of-type(1){
        transform: rotate(45deg)!important;
      }
      & span:nth-of-type(2){
        transform: rotate(-45deg)!important;
      }
    }
    }
  }
  dd.list{
    display: none;
    span{
      font-size: 15px;
      display: block;
      padding: 0.5em;
      padding-left: 1em;
      background-color: #efefee;
      border-bottom: 1px solid #FFF;
       input {
         margin-right: 1em;
       }
   }
  }
  ul{
    border-bottom-left-radius : 12px;
    border-bottom-right-radius : 12px;
    border-bottom: 1px solid #efefee;
    padding-bottom: 3vw;
    background: #fff;
  }
  .overLay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(100,100,100,0.9);
  width:100%;
  height:100vh;
  z-index:10;
}
}
// フッター
footer {
    background-color: $color_white!important;
    p{
      background-color: $color_white;
      max-width: $width;
      width: 100%;
      margin: $margin_reset;
      text-align: center;
      font-size: 2vw;
      margin-top: 3vw;
    }
}
